@font-face {
  font-family: mcfont;
  src: url(assets/fonts/Minecrafter.Alt.ttf);
}

* {
  font-family: mcfont;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 160px;
}

.Difficulty-buttons {
  display: flex;
  flex-direction: row;
}

button {
  background-color: grey;
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.5em;
  color: white;
  text-shadow: -1px 1px 0 #000;
}

#game-content {
  background-image: url(assets/images/dirt.png);
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  background-color: red;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.field {
  height: 18px;
  width: 18px;
  border: 1px solid #492203;
  background-color: #c6651b;
  box-shadow: inset 0px 0px 10px #492203;
}

.field.active {
  background-color: red;
}

.field:hover {
  cursor: pointer;
  background-color: #492203;
}